@use 'variables';

.create-product-page {
  min-height: 100vh;

  form {
    color: variables.$light-text;
    background-color: variables.$dark-bg;
    font-size: 1.8rem;
    margin: 0 auto 5rem;
    padding: 5rem 7rem 7rem;
    max-width: 70rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.4rem;
    }

    input, select, textarea {
      color: variables.$dark-text;
      font-size: 1.6rem;
      border: none;
      border-radius: 8px;
      margin-bottom: 1.6rem;
      padding: 1rem;
    }

    textarea {
      resize: none;
    }

    button {
      color: variables.$dark-text;
      background-color: variables.$light-text;
      font-size: 2rem;
      border: none;
      border-radius: 8px;
      padding: 1rem 3rem;
      margin-top: 3rem;

      &:hover {
        background-color: variables.$light-bg;
        box-shadow: inset 0 0 0 2px variables.$dark-text;
      }
    }
  }
}
