header, .balance-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  display: grid;
  grid-template-columns: repeat(9, 15fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
}

button {
  cursor: pointer;
}
